#root {
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

canvas {
  width: 100%;
  height: 100%;
}
